body{
	background-color: #039CB5;
}
button{
	font-size: 25px;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
}
#motavation{
	text-align: center;
	color: #595959;
}
#motavation p{
	background-color: white ;
	font-family: cursive, fantasy, Bold;
	font-size: 27px;
}
h1{
	color: rgb(17, 11, 90);
	text-align: center;
}
p:hover{
	color: rgb(17, 11, 90);
	text-align: center;
	padding-bottom: 20px;
}
