body{
	background-color: #039CB5;
}
button{
	font-size: 25px;
}
#motavation{
	text-align: center;
	color: #595959;
}
#motavation p{
	background-color: white ;
	font-family: cursive, fantasy, Bold;
	font-size: 27px;
}
h1{
	color: rgb(17, 11, 90);
}
p:hover{
	color: red;
}
